<footer class="text-white mt-2 h-100 w-100">
  <div class="container">
    <div class="row">
      <div class="left col-md-7">
        <ul class="links d-inline-flex list-unstyled">
          <li>
            <span class="message">Hello from Seattle.</span>
          </li>
          <li>
            <a href="#" role="button">Follow @code</a>
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <ul class="links">
          <li><a id="footer-support-link" href="#">Support</a></li>
          <li><a id="footer-privacy-link" href="#" target="_blank">Privacy</a></li>
          <li><a id="footer-terms-link" href="#" target="_blank">Terms of Use</a></li>
          <li><a id="footer-license-link" href="#">License</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>