
#navbarstyle {
    background: #373277;
}


.menue_nav li a {
    text-decoration: none !important;
    color: #333;
}
.menue_nav li a:hover {
    color: #000;
}

#carousel-example-generic {
    background-color: #f2f2f2;
    padding: 1rem 1rem 1rem 1rem;
}
.carousel-caption {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    color: black;
}

.card img {
    margin: 2vh auto;
}

footer {
    background-color: #333;

}

footer ul li {
    margin: 2vh;
    display: inline-flex;
}
footer ul li a {
    text-decoration: none !important;
    color: white;
}
footer ul li a:hover{
    color: #b6a6f1;
}